# fastapi
# uvicorn
# motor
# adafruit-io
# dnspython

# fastapi
# uvicorn
# sqlalchemy
# psycopg2-binary
# adafruit-io
# Resend

fastapi
uvicorn
sqlalchemy
psycopg2-binary
adafruit-io
resend
python-multipart
supabase